<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{fragments/layout}">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/login.css}"/>

    <title>Registration</title>
</head>
<body>
<div layout:fragment="content" th:remove="tag">
    <div class="container">
        <div th:if="${param.successRegister}">
            <div class="alert alert-info center-block" >
                <p class="text-center">
                    You've successfully registered! Please login in.
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3 col-md-2"></div>
            <div class="col-lg-6 col-md-8 login-box">
                <div class="col-lg-12 login-key">
                    <i class="fa fa-key" aria-hidden="true"></i>
                </div>
                <div class="col-lg-12 login-title">
                    Login
                </div>

                <div class="col-lg-12 login-form">
                    <div class="col-lg-12 login-form">
                        <form th:action="@{/login}" method="post">
                            <div class="form-group">
                                <label for="username" class="form-control-label">USERNAME</label>
                                <input id="username" name="username" type="text" autofocus="autofocus" class="form-control">
                            </div>
                            <div class="form-group">
                                <label for="password" class="form-control-label">PASSWORD</label>
                                <input id="password" name="password" type="password" class="form-control" i>
                            </div>
                            <div th:if="${param.error}">
                                <div class="alert alert-danger">
                                    <p class="text-center">
                                        Invalid username or password.
                                    </p>
                                </div>
                            </div>
                            <div class="col-lg-12 loginbttm">
                                <div class="col-lg-7 login-btm login-button">
                                    <button type="submit" class="btn btn-outline-primary">LOGIN</button>
                                </div>
                                <div class="col-lg-9 login-btm">
                                    <span>New user? <a href="/" th:href="@{/users/register}">  Need an account ? Make one now </a></span>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="col-lg-3 col-md-2"></div>
            </div>
        </div>
</div>

<script type="text/javascript" th:src="@{/webjars/jquery/3.2.1/jquery.min.js/}"></script>
<script type="text/javascript" th:src="@{/webjars/bootstrap/3.3.7/js/bootstrap.min.js}"></script>

</body>
</html>