<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{fragments/layout}">
<head>
    <title>Index</title>
</head>
<body>
<div layout:fragment="content" th:remove="tag">
    <div th:if="${param.finishTest}">
        <div class="alert alert-info center-block">
           <p class="text-center">
               You've successfully submit your exam!
           </p>
        </div>
    </div>
    <div class="container my-2">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-body bg-dark">
                        <div class="card-title mb-4">
                            <div class="d-flex justify-content-start">
                                <div class="image-container">
                                    <img src="/images/anonymous.jpg" id="imgProfile" style="width: 150px; height: 150px" class="img-thumbnail" />
                                </div>
                                <div class="userData ml-3">
                                    <h2 class="text-white" style="font-size: 1.5rem; font-weight: bold" th:text="${user.getUsername()}"></h2>
                                    <h6 class="text-white" th:text="${testCount} + ' tests created'"></h6>
                                    <h6 class="text-white" th:text="${testTakeCount} + ' tests taken'"></h6>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-12">
                                <ul class="nav nav-tabs" id="myTab" role="tablist">
                                    <li class="nav-item">
                                        <a class="nav-link active" id="basicInfo-tab" data-toggle="tab" href="#basicInfo" role="tab" aria-controls="basicInfo" aria-selected="true" style="font-weight:bold;"><h5>User info</h5></a>
                                    </li>
                                </ul>
                                <div class="tab-content" id="myTabContent">
                                    <div class="tab-pane fade show active bg-white p-4" id="basicInfo" role="tabpanel" aria-labelledby="basicInfo-tab">
                                        <div class="row">
                                            <div class="col-sm-3 col-md-2 col-5">

                                            </div>
                                        </div>
                                        <hr />
                                        <div class="row">
                                            <div class="col-sm-3 col-md-2 col-5">
                                                <label style="font-weight:bold;">Full Name</label>
                                            </div>
                                            <div class="col-md-8 col-6" th:text="${user.getFirstName()}">
                                            </div>
                                        </div>
                                        <hr />
                                        <div class="row">
                                            <div class="col-sm-3 col-md-2 col-5">
                                                <label style="font-weight:bold;">Last Name</label>
                                            </div>
                                            <div class="col-md-8 col-6" th:text="${user.getLastName()}">
                                            </div>
                                        </div>
                                        <hr />
                                        <div class="row">
                                            <div class="col-sm-3 col-md-2 col-5">
                                                <label style="font-weight:bold;">Email</label>
                                            </div>
                                            <div class="col-md-8 col-6" th:text="${user.getEmail()}">
                                            </div>
                                        </div>
                                        <hr />
                                        <div class="row">
                                            <div th:switch="${user.getTestTakes()}" class="container my-5">
                                                <div class="col-md-12">
                                                    <h2 th:case="null" class="text-black">No tests taken.</h2>
                                                    <div th:case="*">
                                                        <h5 class="text-black">Results: </h5>
                                                        <table class="table table-responsive-md">
                                                            <thead>
                                                            <tr>
                                                                <th>Date</th>
                                                                <th>Code</th>
                                                                <th>Correct answers</th>
                                                                <th>Wrong answers</th>
                                                                <th>Success rate</th>
                                                            </tr>
                                                            </thead>
                                                            <tbody>
                                                            <tr th:each="testTake, iterStat : ${user.getTestTakes()}">
                                                                <td th:text="${#dates.format(testTake.createdDate, 'dd-MMM-yyyy hh:mm:ss')}"></td>
                                                                <td th:text="${testTake.getExam().getCode()}"></td>
                                                                <td th:text="${testTake.getCorrectAnswersCount()}"></td>
                                                                <td th:text="${testTake.getWrongAnswersCount()}"></td>
                                                                <td th:text="${testTake.getSuccessRate()} + '%'">%</td>
                                                            </tr>
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div th:switch="${user.getTests()}" class="container my-5">
                                                <div class="col-md-12">
                                                    <h2 th:case="null" class="text-black">No tests created.</h2>
                                                    <div th:case="*">
                                                        <h5 class="text-black">My tests: </h5>
                                                        <table class="table table-responsive-md">
                                                            <thead>
                                                            <tr>
                                                                <th>Code</th>
                                                                <th>Status</th>
                                                                <th>Created date</th>
                                                            </tr>
                                                            </thead>
                                                            <tbody>
                                                            <tr th:each="exam, iterStat : ${user.getTests()}">
                                                                <td th:text="${exam.code}"></td>
                                                                <td th:text="${exam.isActive()} ? 'ACTIVE' : 'INACTIVE'"></td>
                                                                <td th:text="${#dates.format(exam.createdDate, 'dd-MMM-yyyy hh:mm:ss')}"></td>
                                                            </tr>
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>